<!DOCTYPE HTML>
<head>
	<title>Remington Breeze</title>
	<link rel='stylesheet' href='{{BASE}}/assets/css/style.min.css' type='text/css'>
	<link rel='stylesheet' href='{{BASE}}/assets/css/template.css' type='text/css'>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">  
</head>
<body>
	<div class='template--header'>
		<img src="{{BASE}}/assets/images/profiles/default.png" class="template--profile-pic"/>
		<a href='https://breeze.software' target='_blank'>breeze.software</a>
		<div class='template--btn btn' id='appearance'>
			<span class="btn-content">
				<i class="fas fa-moon"></i>
			</span>
			<span class="btn-content"> 
				<i class="fas fa-sun"></i>
			</span>
		</div>
	</div>
	<div class='template--content container'>
		{{{contents}}}
	</div>
</body>

<script type='module'>
	import * as dm from '{{BASE}}/darkmode.js';
    dm.Init();
    document.getElementById('appearance').onclick = dm.ChangeTheme;
</script>
